<!DOCTYPE html>
<html data-bs-theme="dark" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Francisco Sanabria</title>
    <meta property="og:type" content="website">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon.png" media="(prefers-color-scheme: dark)">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/favicon.png" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/Features-Image-images.css">
    <link rel="stylesheet" href="static/css/Footer-Clean-icons.css">
</head>

<body>
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold text-primary mb-2">Digital Disrupt Labs</p>
                <h1 class="fw-bold mb-4" style="font-size: 29px;"><span style="font-weight: normal !important;">Confused? So am I! This page does not exist.</span></h1>
                <h1 class="fw-bold mb-4" style="font-size: 95px;margin-bottom: 0px;margin-top: -31px;">404 ERROR</h1><button class="btn btn-light fs-5 py-2 px-4" type="button" style="margin-top: -19px;">Home</button>
            </div>
        </div>
    </section>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>